
################################
###### APP DEFINITIONS
################################
APP_NAME = 'bp-fast'
APP_VERSION = '0.1.0'
APP_AUTH_METHOD = 'COOKIE' # OPTIONS ('JWT', 'COOKIE')
APP_LOGIN_MODE = UNIQUE # OPTIONS (UNIQUE, MULTIPLE)


################################
###### TOTP
################################
TOTP_INTERVAL = 60
TOTP_DIGITS = 6
TOTP_WINDOW = 1


################################
###### MYSQL
################################

# "mysql" se estiver no mesmo docker-compose; "localhost" se for fora
MYSQL_DB_HOST = 'localhost' 
MYSQL_DB_PORT = '3306'
MYSQL_DB_NAME = 'db'
MYSQL_DB_USER = 'user'
MYSQL_DB_PASSWORD = 'admin'
MYSQL_DRIVERNAME = 'mysql+asyncmy'
MYSQL_CHARSET = 'utf8mb4'


################################
###### POSTGRES
################################

# "mysql" se estiver no mesmo docker-compose; "localhost" se for fora
POSTGRES_DB_HOST = 'localhost' 
POSTGRES_DB_PORT = '5432'
POSTGRES_DB_NAME = 'postgres'
POSTGRES_DB_USER = 'postgres'
POSTGRES_DB_PASSWORD = 'admin'
POSTGRES_DRIVERNAME = 'postgresql+asyncpg'
POSTGRES_CHARSET = 'utf8mb4'

HEALTHCHECK_INTERVAL=10s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=5
HEALTHCHECK_START_PERIOD=30s
###############################
####### JWT
###############################
JWT_SECRET = 'your-secret-key-here'
JWT_ALGORITHM = 'HS256'
JWT_EXPIRATION_TIME = 30


###############################
####### Redis Session
###############################
REDIS_TTL = 600
REDIS_HOST = 'localhost'
REDIS_PORT = '6379'
REDIS_DB = 0